<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.dl.DLTensorToDataCellConverterFactory">
      <DLTensorToDataCellConverterFactory
            DLTensorToDataCellConverterFactory="org.knime.ip.dl.DLDoubleTensorToImgPlusCellConverterFactory">
      </DLTensorToDataCellConverterFactory>
      <DLTensorToDataCellConverterFactory
            DLTensorToDataCellConverterFactory="org.knime.ip.dl.DLFloatTensorToImgPlusCellConverterFactory">
      </DLTensorToDataCellConverterFactory>
   </extension>
   <extension
         point="org.knime.dl.DLDataValueToTensorConverterFactory">
      <DLDataValueToTensorConverterFactory
            DLDataValueToTensorConverterFactory="org.knime.ip.dl.DLImgPlusValueToDoubleTensorConverterFactory">
      </DLDataValueToTensorConverterFactory>
      <DLDataValueToTensorConverterFactory
            DLDataValueToTensorConverterFactory="org.knime.ip.dl.DLImgPlusValueToFloatTensorConverterFactory">
      </DLDataValueToTensorConverterFactory>
   </extension>
</plugin>
